<ng-container>
  <div class="row navBack">
    <div class="col m-2"> <!-- Full width column for centering -->
      <h2>
        Testing Framework
      </h2>
    </div>
    <div class="col text-end me-auto"> <!-- Full width column for aligning buttons to the right -->
      <button type="button" class="btn btn-primary m-2">Save</button>
      <button type="button" class="btn btn-primary m-2">Run</button>
    </div>
  </div>
  <div cdkDropListGroup class="row">
      <div class="app-container widgetsBack col-2">
        <div class="m-2">
          <h2>Widgets</h2>
          <div
            cdkDropList
            [cdkDropListData]="widgets"
            class="app-list"
            (cdkDropListDropped)="drop($event)">
            <div class="app-box" *ngFor="let item of widgets" cdkDrag>{{item}}</div>
          </div>
        </div>
      </div>
  
    <div class="app-container flowBack col-8">
      <div class="m-2">
        <h2>Flow</h2>
        <div
          cdkDropList
          [cdkDropListData]="flowChart"
          class="app-list"
          (cdkDropListDropped)="drop($event)">
          <div class="app-box" *ngFor="let item of flowChart" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>

    <div class="col-2 systemsBack">
      <div class="m-2">
        <h2>Select System(s)</h2>
        <ng-multiselect-dropdown
          [placeholder]="'Systems'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="row logsBack">
    <div class="m-2">
      <h2>Logs</h2>
      <div>
        
      </div>
    </div>
  </div>
</ng-container>